body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.serverbtn {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 75px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.serverbtn:focus {
  outline: none;
}

.kbd-navigation .serverbtn:focus {
  background: #ddd;
}

.app {
  display: flex;
  flex-direction: row;
}